@main(title = "Add Questions"){
    <div class="container">
        <h1>Add Question</h1>
        @helper.form(action = routes.QuestionController.submit(),'id -> "questionForm"){

            <div class="form-group">
                <label for="topic">Pick a Topic</label>
                <select class="form-control" id="topic">
                    <option>Circuit Transmitters</option>
                    <option>Policies and Procedures</option>
                    <option>Magical Creatures and Where to Find Them</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question">Type your question</label>
                <textarea class="form-control" id="question" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="answer1">Answer 1</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="1" name="correct">
                        Correct
                    </label>
                </div>
                <textarea class="form-control" id="answer1" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="answer2">Answer 2</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="2" name="correct">
                        Correct
                    </label>
                </div>
                <textarea class="form-control" id="answer2" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="answer3">Answer 3</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="3" name="correct">
                        Correct
                    </label>
                </div>
                <textarea class="form-control" id="answer3" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="answer4">Answer 4</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="4" name="correct">
                        Correct
                    </label>
                </div>
                <textarea class="form-control" id="answer4" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="solution">Solution:</label>
                <div class="form-check">                </div>
                <textarea class="form-control" id="solution" rows="2"></textarea>
            </div>
            <fieldset class="form-group">
                <legend>Points</legend>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="points" id="points1" value="5" checked>
                        5 Points
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="points" id="points2" value="10">
                        10 Points
                    </label>
                </div>
            </fieldset>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Verified
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            }
    </div>
}

