@(id: Long, questionForm: Form[Question])

@import helper._

@import b3.vertical.fieldConstructor  // Declares a vertical field constructor as default

@main(title = "Edit Question") {
    
    <h1>Edit question</h1>
    
    @b3.form(routes.QuestionController.update(id)) {

        <fieldset>
            @b3.text(questionForm("name"), '_label -> "Question name", '_help -> "")

            @b3.text(questionForm("answer1"), '_label -> "Answer Choice 1", '_help -> "")
            @b3.text(questionForm("answer2"), '_label -> "Answer Choice 2", '_help -> "")
            @b3.text(questionForm("answer3"), '_label -> "Answer Choice 3", '_help -> "")
            @b3.text(questionForm("answer4"), '_label -> "Answer Choice 4", '_help -> "")

            @b3.select(
                questionForm("correct_answer"),
                options=Seq("1"->"1","2"->"2","3"->"3","4"->"4"),
                '_label -> "Correct Answer", '_default -> "-- Choose the correct answer --",
                '_showConstraints -> false
            )

            @b3.select(
                questionForm("category.id"),
                options(Category.options),
                '_label -> "Category", '_default -> "-- Choose a category --",
                '_showConstraints -> false
            )
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this question" class="btn primary"> or
            <a href="@routes.QuestionController.list()" class="btn">Cancel</a>
        </div>
        
    }

    @b3.form(routes.QuestionController.delete(id), 'class -> "topRight") {
        <input type="submit" value="Delete this question" class="btn danger">
    }

}
